.menu-play-buttons-wrapper {
  display: flex;
  flex: 1;
}

.menu-play-buttons {
  flex: 1;
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-play-button {
  border: 5px solid red;
  border-radius: 10px;
  flex-basis: 200px;
  height: 100px;
  margin: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.5s ease;
  font-size: 2em;
}

.menu-play-button:hover {
  background-color: white;
}

.login-button {
  outline: none;
  border-radius: 6px;
  background-color: mistyrose;
  border: 2px solid pink;
  height: 40px;
  width: 60%;
  cursor: pointer;
}

.login-button:hover {
  border: 2px solid mistyrose;
  background-color: pink;
  color: white;
}

.difficulty-button {
  background-color: white;
  color: black;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.difficulty-button:hover {
  background-color: black;
  color: white;
}
