.main-toolbar {
  min-height: 100px;
  background-color: lightblue;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .main-toolbar-left {
    flex: 1;

    .main-toolbar-title {
      max-width: 200px;
    }
  }

  .main-toolbar-right {
    display: flex;

    .toolbar-menu-item {
      display: flex;
      align-items: center;
      margin-left: 10px;
    }

    .main-toolbar-logout-button {
      width: 50px;
      margin: 0 10px;
      background-color: rgba(0,0,0,0);
      border: none;
      outline: none;
      cursor: pointer;
    }
  }

}