.main-toolbar {
  min-height: 100px;
  background-color: lightblue;
  padding-left: 20px;
  display: flex;
  align-items: center;


  .main-toolbar-spacer {
    flex: 1;
  }

  .main-toolbar-title {
    height: 100%;
    flex: 1;
    max-width: 200px;
  }

  .toolbar-menu-item {
    
  }

  .main-toolbar-logout-button {
    width: 50px;
    margin: 0 10px;
    background-color: rgba(0,0,0,0);
    border: none;
    outline: none;
    cursor: pointer;
  }

}